@model IEnumerable<MyBookProject.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome To Book Store!!</h2>

<div class="container row p-0 m-0 ">
    <div class="col-9">
        <h2 class="text-info "> Book List </h2>

    </div>
    <div class="col-4">
        @Html.ActionLink("Create New Book","AddBook","Admin", new { @class= " btn btn-primary text-white"})

    </div>
    <div class="col-12 border p-3  m-3">
       
            @if (Model.Any())
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            Book Name
                        </th>
                        <th>
                            Author Name
                        </th>
                        <th>

                        </th>

                    </tr>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.ActionLink(item.BookName, "Update", "Admin", new { id = item.BookId })
                    </td>
                    <td>
                        <p>@item.Book_Auth</p>
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", "Admin", new { id = item.BookId})

                    </td>
                </tr>
                    }

                </table>
           }
           else
            {
                <p>No Books Available !!</p>
            }

       

    </div>

</div>

