@{
    ViewBag.Title = "Contact";
}


@Styles.Render("~/Content/Style.css")
<div class="container2">
    <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>Swing by for a cup of coffee, or leave us a message:</p>
    </div>
    <div class="row">
        <div class="column">
            <img src="https://images.unsplash.com/photo-1468273519810-d3fe4c125cdb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:100%">
        </div>
        <div class="column">
            <form action="">
               
                <br>
                <label for="lname">Email</label>
                <input type="email" id="lname" name="Email" placeholder="abc@gmail.com">
                <br>
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <div>
                    <label for="subject">Subject</label>
                    <div>
                        <textarea id="subject" name="subject" cols="5" rows="5" placeholder="Write something.."></textarea>
                    </div>
                </div>

                <br>
                <input type="submit" value="Submit">
            </form>

            <h5>@ViewBag.Message</h5>
        </div>

          <address>
              <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
              <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
          </address>

    </div>
</div>




