@model MyBookProject.Models.User
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Welcome to Book Store !!</h2>
    <br />
    <br />
    <h3 style="color:blueviolet;">Please Explore Our New Book Collections!! </h3>
    

